*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;

}

.contenedor {
    background-color: lightcoral;
    display: flexbox;
    margin: 0 -3px 2px  0;
    text-align: center;
    line-height: 76px;
    font-size: 150%;
    font-weight: bolder;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.container{
    background-color: lightcoral;
    display: flexbox;
    align-items: center;
    position: absolute;
	top: 100px;
	left: 500px;
	width: 265px;
    height: 433px;
    border: 2px solid red;
	border-radius: 10px 10px 77px 10px ;
}
.bordepantalla {
    height: 240px;
    width: 240px;  
    margin: 10px;
    background-color: rgb(39, 54, 68);
	border-radius: 10px 10px 10px 10px ;
}

.pantalla {
    position: absolute;
    height: 180px;
    width: 180px;  
    margin: 30px;
    background-color: rgb(21, 30, 37);  
}
.gameboyText{
    position: relative;
    top: 90%;
    display:  inline-block;
    color: lightslategray;
    
}
.circleContent{
    position: relative;
    left: 100px;
	width: 90px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(189, 39, 39);
}
.nintendoText{
    color: rgb(189, 39, 39);
}
.colorRed{
    position: relative;
    top: 90%;
    font-family:  'Courier New', Courier, monospace;
    display:  inline-block;
    color: rgb(189, 39, 39);
}
.colorPurple{
    position: relative;
    top: 90%;
    font-family:  'Courier New', Courier, monospace;
    display:  inline-block;
    color: rgb(152, 33, 175);
}
.colorGreen{
    position: relative;
    top: 90%;
    font-family:  'Courier New', Courier, monospace;
    display:  inline-block;
    color: rgb(37, 187, 70);
}
.colorYellow{
    position: relative;
    top: 90%;
    font-family:  'Courier New', Courier, monospace;
    display:  inline-block;
    color: rgb(180, 190, 38);
}
.colorBlue{
    position: relative;
    top: 90%;
    font-family:  'Courier New', Courier, monospace;
    display:  inline-block;
    color: rgb(35, 50, 180);
}
.diod {
    position: absolute;
    margin: 5px;
	width: 9px;
	height: 9px;
	border: 1px solid #AC774D;
	border-radius: 50px;
	background: #E4B443;
}

.diod {
	position: absolute;
	top: 61px;
	left: 12px;
	display: block;
	width: 9px;
	height: 9px;
	border: 1px solid #AC774D;
	border-radius: 50px;
	background: #E4B443;
	
}

.buttons {
    margin: 25px;
    position: absolute;
    top: 242px;
    left: 150px;
    padding: 6px;

}
.speacker {
    position: absolute;
    top: 344px;
    left: 174px;
    transform: rotate(64deg);
}
.speacker li {
	margin-bottom: 8px;
	width: 42px;
	height: 6px;
    border-radius: 10px;
    background: rgb(44, 50, 56);
}
.start{
    position: relative;
    top: 70px;
    left: 100px;    
	margin-bottom: 8px;
	width: 24px;
	height: 6px;
    border-radius: 10px;
    background: rgb(44, 50, 56);
}
.select{
    position: relative;
    top: 55px;
    left: 140px;    
	margin-bottom: 8px;
	width: 24px;
	height: 6px;
    border-radius: 10px;
    background: rgb(44, 50, 56);
}
.buttons .liA {
    position: relative;
    left: 25px;
	width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgb(44, 50, 56);
}
.buttons .liB {
	width: 30px;
	height: 30px;
    border-radius: 100%;
    background: rgb(44, 50, 56);

}

.right {
	position: absolute;
	top: 15%;
    left: 40px;
	width: 24px;
    height: 72px;
    background:  rgb(44, 50, 56);
}
.left {
	position: absolute;
	top: 40%;
	left: 16px;
	width: 72px;
    height: 24px;
    background:  rgb(44, 50, 56);
}
.stick {
	position: absolute;
	top: 252px;
	left: 14px;
	width: 93px;
	height: 93px;
}